title: "Toastbler.exe"
description: "toastbler's corner of the internet"
url: "https://toastbler.github.io"
baseurl: ""

# Build settings
markdown: kramdown
highlighter: rouge
theme: minima

# Exclude files from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - vendor/

# Include files
include:
  - _pages